{{!-- about the project --}}
<div class="card">
  <div class="card-header">
    The Lost Pet Project
  </div>

  <div class="card-body">
    <h5 class="card-title">What is the purpose of Pet Finder?</h5>
    <p class="card-text">Have you ever lost your pet and started freaking out thinking of how to find your pal? Well
      that is the exact problem we are solving with this site! Pet finder allows you to create an account so that you
      can create a report about your lost buddy, submit a picture of them and some details about where they got lost so
      that we can bring the massive community of the internet to help find your pet! Create an account to file a report,
      but anyone can look at the map which will display where pets where last seen. We are hopefull we can help you get
      reunited with your friend so you can go back to enjoying each others company.</p>

  </div>
</div>

{{!-- about us section --}}
<div class="about-us card">
  <div class="about-us-title card-header">
    Meet the developers
  </div>
  <p class="about-us-description card-body">Would you believe us if we said that only sixty days ago is was the first
    time some of us had picked up our editor and began this web development journey? With multiple different backgrounds
    and one week to work on a project,
    these four individuals are the creators of what you are viewing today!</p>
</div>

{{!-- team members --}}
<section class="container px-4 d-flex cards">
  <section class="p-3 m-2">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../img/Hayden.jpg" class="img-fluid rounded-start" alt="Hayden on a boat?">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Hayden Kiltoff</h5>
            <p class="card-text">Hayden is a full-stack developer out of the Seattle area. From the beginning of his
              working
              career he became extremely focused on time management and structured detail orientation. Understanding the
              heirchy in which a company runs and operates, he transitioned his knowledge into other businesses to
              further
              grasp the concepts and client side offerings. Building strong foundations in which progression is built,
              Hayden continues to consistently improve the way he learns and understands information to better fomulate
              precise deployment of each obstacle he encounters. Outside of his working life he enjoys travelling and
              spending time with his Aussie.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../img/Jeff.jpg" class="img-fluid rounded-start" alt="Jeff with glasses">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jeff Schmidt</h5>
            <p class="card-text">Jeff is a US Navy veteran and worked in high-demand extreme-stress situations for 10
              years.
              These environments forged Jeff into a civilian powerhouse of Leadership and Operations Management with a
              strong sense of ethical responsibilities and a devotion to doing what is best for his team. When he's not
              coding, he is at various sporting events watching his son play or he is playing Magic: The Gathering with
              his
              friends.</p>
          </div>
        </div>
      </div>
    </div>

      
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../img/Bakary.jpg" class="img-fluid rounded-start" alt="Bakary in a room">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Bakary Sylla</h5>
            <p class="card-text">Since Cote d’Ivoire, I've always passionate about coding but unfortunately, I never got the
        opportunity to take some classes. Once here, I registered for computer Science (Java) at Bellevue College.
        Today, I have a chance to take a certificate class in software engineer developer front-End and Back-End at
        the University of Washington. After the first project, this second project was very helpful. With my crew, we
        have successfully
        built something from scratch, and step by step the project took form. It was amazing to work with all of my team
        mates
        to build this magnific Lost pet application.</p>
          </div>
        </div>
      </div>
    </div>

    {{!-- <div class="container team-member card" id="pablo">
      <h3 class="card-title">Pablo <span class="name-light">Rosales</span></h3>
      <img src="../img/pablo.jpg">
      <p class="card-text">Pablo is a Latino developer in the greater Seattle area with an emphasis on client relations
        and has strong ties to the hispanic community. He studied Object Oriented Programming and Data Structures at
        Arizona State University in Java, is a web developer, and has a keen eye for detail. He enjoys being a
        collaborator and has a focus on customer oriented output. When hes not coding, he enjoys art and exploring the
        beautiful forests with his friends.</p>
    </div> --}}

        <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../img/Pablo.jpg" class="img-fluid rounded-start" alt="Pablo in a room with coffee">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Pablo Rosales</h5>
            <p class="card-text">Pablo is a Latino developer in the greater Seattle area with an emphasis on client relations
        and has strong ties to the hispanic community. He studied Object Oriented Programming and Data Structures at
        Arizona State University in Java, is a web developer, and has a keen eye for detail. He enjoys being a
        collaborator and has a focus on customer oriented output. When hes not coding, he enjoys art and exploring the
        beautiful forests with his friends.</p>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>