<div class="card">
  <div class="card-header">
    The Lost Pet Project
  </div>
  <div class="card-body">
    <h5 class="card-title">What is the purpose for this site?</h5>
    <p class="card-text">Have you ever lost your pet and started freaking out thinking of how to find your pal? Well
      that is the exact problem we are solving with this site! Pet finder allows you to create an account so that you
      can create a report about your lost buddy, submit a picture of them and some details about where they got lost so
      that we can bring the massive community of the internet to help find your pet! Create an account to file a report,
      but anyone can look at the map which will display where pets where last seen. We are hopefull we can help you get
      reunited with your friend so you can go back to enjoying each others company.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div>
  <div class="about-team-title">
    About the authors
  </div>
  <p class="about-team-description">Sixty days ago is when we first picked up our editor and began this web development journey. With multiple different backgrounds these four individuals are the creators of what you are viewing today!</p>

  <div class="container team-member" id="pablo">
    <img src="/images/pablo.jpg">
    <h2 class="name">Pablo <span class="name-light">Rosales</span></h2>
    <p class="blurb">Pablo is a Latino developer in the greater Seattle area with an emphasis on client relations and
      has strong ties to the hispanic community. He studied Object Oriented Programming and Data Structures at Arizona
      State University in Java, is a web developer, and has a keen eye for detail. He enjoys being a collaborator and
      has a focus on customer oriented output. When hes not coding, he enjoys art and exploring the beautiful forests with his
      friends.</p>
  </div>

</div>