<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map"></div>

<style>
    /* Set the size of the div element that contains the map */

    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */

    }
</style>


<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFsBHuxyaO0TGQ7ozMO-V2bgXIf9rPrY&callback=initMap&v=weekly"></script>
<script src="./js/map.js"></script>