<h3>Map of lost pets</h3>
    
    <div id="map"></div>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFsBHuxyaO0TGQ7ozMO-V2bgXIf9rPrY&callback=initMap"></script>
      <script src="./js/geolocation.js"></script>