<h3 style="text-align: center ;">Map of lost pets</h3>

<div id="map" class="browser-map"></div>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFsBHuxyaO0TGQ7ozMO-V2bgXIf9rPrY&callback=initMap"></script>
<script src="./js/geolocation.js"></script>

<section class="container ">
    <section class="row">
<div class="card pet-boxes" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <ul>
      <li>{{petDesciption}}</li>
      <li>{{currentStatus}}</li>
      <li>{{animal}}</li>
    </ul>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</section>
</section>