<form id="upload_form" method="post" enctype="multipart/form-data">
        <label for="file" id="choose_meme">upload</label>
        <input id="file" type="file" style="display: none;">
        <input type="submit"></input>
</form>
<script src="./js/image.js"></script>
<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable">
  ...
</div>
