<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-6">
      <div class="card report">
        <ul class="list-group list-group-flush">
          <h3>Report Lost Pet</h3>
          <li class="list-group-item"><input style="width:100%;text-align:center" id="petName"
              placeholder="Name of Pet"></li>
          <li class="list-group-item"><input style="width:100%;text-align:center" id="petDescription"
              placeholder="Pet Description"></li>
          <li class="list-group-item">
            <div class="dropdown">
              <select id="animalChoice" class="btn btn-light btn-outline-primary dropdown-toggle" type="button"
                id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false" style="width:100%;">

                <option class="dropdown-item">Type of Animal</option>
                <option class="dropdown-item">Dog</option>
                <option class="dropdown-item">Cat</option>
                <option class="dropdown-item">Reptile</option>
                <option class="dropdown-item">Guinea Pig</option>
                <option class="dropdown-item">Horse</option>
                <option class="dropdown-item">Turtle</option>
                <option class="dropdown-item">Other</option>

              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div class="dropdown">
              <select id="status" class="btn btn-light btn-outline-primary dropdown-toggle" type="button"
                id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false" style="width:100%;">

                <option class="dropdown-item">Current status of pet</option>
                <option class="dropdown-item">Missing</option>
                <option class="dropdown-item">Found</option>
              </select>
            </div>
          </li>
          </li>
          <li class="list-group-item"><input style="width:100%;text-align:center" id="breed" placeholder="Breed"></li>
          <li class="list-group-item"><input style="width:100%;text-align:center" id="color" placeholder="Color"></li>
          <li class="list-group-item"><input style="width:100%;text-align:center" id="lastLocation"
              placeholder="Last Location  (latitude, longitude)"></li>
          <li class="list-group-item"><input style="width:100%;text-align:center" id="lastTime"
              placeholder="What time did your pet go missing?"></li>

          <li class="list-group-item">
            <form id="upload_form" method="post" enctype="multipart/form-data">
              <label for="file" <i class="fa fa-download" style="font-size:36px"></i></label>
              <input id="file" type="file" style="display: none;">
              <input type="submit"></input>
            </form>
          </li>
        </ul>


      </div>
    </div>



    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
      <div class="card mb-3">
        <img
          src="https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="card-img-top" alt="cute and confused kitten">
        <div class="card-body">
          <h5 class="card-title">Browse Lost pets</h5>
          <p class="card-text">We would like to encourage that when you are done filling out a report, to please visit
            the browse pet page. With your help we can find all the lost pets in your area and help get them home
            safely.</p>
          <a href="/browse"><button type="button" class="btn btn-info" style="text-align:center;">Browse Lost
              Pets</button></a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consider getting your pet a microchip</h5>
          <p class="card-text">Click the button below to learn more information</p><br>
          <a href="https://companionprotect.com/2021/03/31/reasons-to-microchip-your-dog-cat-pet/"><button
            class="btn btn-primary">5 REASONS TO MICROCHIP </button></a>
          
        </div>
        <img src="https://companionprotect.com/wp-content/uploads/2021/03/7004_005_5ReasonsMicrochip.png"
          class="card-img-bottom" alt="...">
      </div>
      {{!-- <a href="/browse"><button type="button" id="btn" class="btn btn-primary browse-dashboard"></button></a> --}}
    </div>
  </div>
</div>

<script src="./js/image.js"></script>
{{!--
<script src=".js/someName.js"></script> --}}