
{{!-- button for redirection to create account/sign in to account or redirect to dashboard --}}
<button></button>


{{!-- Browse pets area, redirection to browse handlebar--}}




<h1>Home page</h1>
{{#each blogs}}
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <hr>
{{/each}}