





{{!-- button for redirection to create account/sign in to account or redirect to dashboard --}}
<a href="./login"><button type="button" class="btn btn-primary login-home"></button></a>

{{!-- Browse pets area, redirection to browse handlebar--}}
<a href="./browse"><button type="button" class="btn btn-primary browse-home"></button></a>









