
{{!-- button for redirection to create account/sign in to account or redirect to dashboard --}}
<a href="./login"><button type="button" class="btn btn-primary">Login or Sign up!</button></a>
<a href="./browse"><button type="button" class="btn btn-primary">Browse Lost Pets</button></a>


{{!-- Browse pets area, redirection to browse handlebar--}}




<h1>Home page</h1>
{{#each blogs}}
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <hr>
{{/each}}

