<div class="row">
  <div class="col-sm-6">
    <div class="card-body-home">
      <h5 class="card-title">Create an Account</h5>
      <p class="card-text">Simply click the picture below and be directed to the login dashboard</p>
      <a href="/login"><button type="button" class="btn btn-primary login-home"></button></a>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card-body-home">
      <h5 class="card-title">Browse lost pets</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="/browse"><button type="button" class="btn btn-primary browse-home"></button></a>
    </div>
  </div>
</div>