<h2>Login</h2>
<form action="" id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword" >
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword" >
    <button>Signup!</button>
</form>
<script src="/js/login.js"></script>