<div class="row" style="text-align:center;">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
               <h5 class="card-title" style="text-align:center ;">Log In</h5>
                <form action="" id="login">
                    <ul style="list-style:none; text-align:center;">

                        <li><input type="text" placeholder="Confirm username" id="loginUsername"></li>
                        
                        <li><input type="password" placeholder="Confirm Password" id="loginPassword"></li>

                        <li><input type="text" placeholder="email" id="loginEmail"></li>

                    </ul>
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center ;">Sign up!</h5>
                <form action="" id="signup">
                    <ul style="list-style:none; text-align:center;">
                        <li><input type="text" placeholder="username"></li>
                        <li><input type="text" placeholder="Confirm username" id="signupUsername"></li>
                        <li><input type="text" placeholder="password"></li>
                        <li><input type="password" placeholder="Confirm Password" id="signupPassword"></li>
                        <li><input type="text" placeholder="email" id="signupEmail"></li>
                    </ul>
                    <button>Sign up!</button>
                </form>

            </div>
        </div>
    </div>
</div>



{{!-- <h2>Login</h2>
<form action="" id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword">
    <input type="text" placeholder="email" id="loginEmail">
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword">
    <input type="text" placeholder="email" id="signupEmail">
    <button>Signup!</button>
</form> --}}
<script src="/js/login.js"></script>