<div class="login-form">
  <form action="" id="login">
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="username" autocomplete="nope" id="loginUsername">
      </div>
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" id="loginEmail">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" id="loginPassword">
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      <button type="submit" id="signup">Register</button>
      <button type="submit" id="loginbtn">Sign in</button>
    </div>
  </form>
</div>



{{!-- <h2>Login</h2>
<form action="" id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword">
    <input type="text" placeholder="email" id="loginEmail">
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword">
    <input type="text" placeholder="email" id="signupEmail">
    <button>Signup!</button>
</form> --}}
<script src="/js/login.js"></script>